<div class="container" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <div class="row w-100">
        <div class="col-md-12 mb-2 mt-5">
            <h1 class="text-center custom-font-size">Food For You</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-5 mt-5" style="text-align: justify;">
            <p>
              Embarque em uma jornada de mudança alimentar com o nosso ambiente online acolhedor. Conecte-se a uma comunidade empática, compartilhe experiências autênticas e receba apoio emocional. Troque insights, enriqueça sua jornada e transforme sua vida com facilidade através da nossa plataforma intuitiva. Não encare a adaptação alimentar sozinho - junte-se à revolução agora!
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>
<div class="container" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <div class="card-columns md-5 mt-5">
        <div class="card">          
          <div class="card-body">
            <h5 class="card-title">Bem-vindo à Revolução da Adaptação Alimentar! </h5>
            <p class="card-text"> Você já se encontrou diante da complexidade de mudar seus hábitos alimentares? Sabemos que não é fácil, mas a boa notícia é que você não está sozinho nessa jornada. 
            </p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Em nosso fórum caloroso e acolhedor, pessoas como você compartilham suas histórias autênticas de adaptação alimentar. Descubra um espaço seguro para expressar suas preocupações, triunfos e desafios.</p>          
          </blockquote>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Troque Experiências...</h5>
            <p class="card-text">A riqueza da nossa plataforma reside na diversidade de experiências compartilhadas. Aprenda com os sucessos e desafios dos outros e ganhe sabedoria coletiva!</p>            
          </div>
        </div>
        <div class="card bg-trasparent text-dark text-center p-8 border-0 mx-auto d-block">           
            <img class="img" src="https://i.imgur.com/gVCbakZ.png" alt="Logo">        
        </div>
        <div class="card text-center">
          <div class="card-body">
            <p class="card-text">Estamos aqui para transformar a sua jornada alimentar em uma experiência emocionante e positiva. Apresentamos a nossa plataforma inovadora, um refúgio online projetado para tornar sua transição alimentar mais suave, mais agradável e, acima de tudo, mais bem-sucedida! </p>  
          </div>
        </div>        
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Estamos a um clique de distância, prontos para abrir as portas virtuais para uma transformação positiva. Nossa plataforma intuitiva oferece acesso fácil a recursos essenciais, dicas práticas e suporte contínuo para que você possa abraçar com confiança uma vida mais saudável.</p>         
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Juntos numa mesma batalha!</h5>
            <p class="card-text">Não permita que a adaptação alimentar seja uma batalha solitária. Junte-se à nossa comunidade vibrante e descubra um caminho onde a mudança é celebrada, os desafios são superados e a empatia é a chave para o sucesso. </p>                       
          </div>
        </div>
    </div>   
</div>
<div class="parallax"></div>
<div class="jumbotron jumbotron-fluid mt-5 mb-0 corFundo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <div class="container">
      <h2 class="text-center">Faça parte desta comunidade e comece a transformar o mundo hoje!</h2>
      <br>
      <div class="row w-100">
        <div class="col-md-12 w-100 d-flex justify-content-center">
          <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/cadastro'>Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
