<div class="parallax-fundo">


    <div class="container">
  
      <div class="row">
        <div class="col-md-4">
          <app-perfil-lateral></app-perfil-lateral>
        </div>
        <div class="col-md-8">
          <h3 class="text-center mb-4 text-monospace mt-5" style="color: rgb(255, 255, 255)">Cadastro de um novo interesse</h3>
  
          <div class="form-group">
            <label class="text-monospace" for="texto" style="color: rgb(255, 255, 255)">Nome do interesse:</label>
            <input class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu novo interesse"
              [(ngModel)]='interesse.nome'>
          </div>
  
          <div class="row mb-5">
            <div class="col-md-12 d-flex justify-content-center">
              <button class="btn btn-outline-success w-25" (click)='cadastrar()' style="color: rgb(255, 255, 255)">Cadastrar</button>
            </div>
          </div>
  
          <hr>
  
          <div class="row mt-5">
            <div class="col-md-12">
              <h4 class="text-center text-monospace" style="color: rgb(255, 255, 255)">Lista de interesses</h4>
            </div>
          </div>
  
          <table class="table table-hover" style="color: rgb(255, 255, 255)">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col" class="d-flex justify-content-end">Modificações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of listaInteresses'>
                <th scope="row">{{item.id}}</th>
                <td>{{item.nome}}</td>
                <td class="d-flex justify-content-end">
                  <a class="btn btn-outline-info mr-3" [routerLink]="['/editar-interesse', item.id]">Editar</a>
                  <a class="btn btn-outline-danger" [routerLink]="['/delete-interesse', item.id]">Apagar</a>
                </td>
  
              </tr>
  
            </tbody>
          </table>
  
  
        </div>
      </div>
    </div>  
  
  
  
  
  </div>
