#iconeNavBar {
    content: url("https://i.imgur.com/gVCbakZ.png");
    width: 50px;
}

a{
    cursor: pointer;
}

.borderColor {
    border-color: #cc3709;
}

.corBotao:hover {
    background-color: #cc3709 !important;
    color: white !important;
}

.custom-navbar {
    background-color:  rgba(255, 255, 255, 0.103)
}

.corbotao{
    color: #cc3709;
}