<div class="parallax1 d-flex justify-content-center align-items-center">
    <div id="teste" style="border-radius: 10px; background-color: #ffffffe5;">
        <p class="ml-3 mr-3"
            style="font-size: 90px; color: #e46d0ca4; -webkit-text-stroke-width: 2px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
            <b>Saiba mais</b>
        </p>
    </div>
</div>
<div class="container"
    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: justify;">
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center">
                <img src="https://www.ifsc.edu.br/documents/1920563/8468643/verifica_depoimento_elinete.jpg/a4033013-e884-479a-a23d-a7b0dfd6a84a?t=1653612963517" alt="Infográfico" class="tamanhoimg">
            </div>
        </div>
        <div class="col-md-6">
            <p>
                "A professora explica que os fatores genéticos ainda são determinantes (60%), porém estudos demonstram que os fatores ambientais têm exercido influência direta no aumento da sua prevalência. Por serem passíveis de modificações, o foco de estudo atualmente está nas causas ambientais, como: alterações na microbiota intestinal (flora intestinal) devido ao uso excessivo de antibióticos, medicamentos inibidores de ácido gástrico e aumento dos nascimentos por cesariana; exposição a alimentos processados, ultraprocessados e transgênicos; exposição a antígenos; baixos índices de aleitamento materno e oferta tardia dos alimentos sólidos às crianças." 

                “Prevenir alergia alimentar é ainda um desafio, tendo em vista a complexidade e multifatoriedade da alergia alimentar. Até o momento, as medidas preventivas que se demonstram mais eficazes são aquelas que potencializam as funções imunológicas durante a primeira infância, sendo elas: cuidado com a flora intestinal, parto vaginal, aleitamento materno exclusivo até o sexto mês de vida, oferta de alimentos potencialmente alergênicos desde o início da introdução alimentar, sendo o período indicado a partir do sexto mês de vida”, explica a professora Elinete.                
            </p>
            <p>
                Carla Algeri e Giovana Perine | Jornalistas do IFSC. "Alergias e intolerâncias alimentares: saiba o que são" . Disponível em: https://www.ifsc.edu.br/post-ifsc-verifica/-/asset_publisher/uII70Nv266Xk/content/id/10481011/alergias-e-intoler%C3%A2ncias-alimentares-saiba-o-que-s%C3%A3o
            </p>
        </div>
    </div>
</div>

<div class="container"
    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: justify;">
    <div class="row">
        <div class="col-md-6 mt-5 mb-5">
            <h1> E a diversidade alimentar?</h1>
            <p>
                O primeiro passo para conseguir adaptar-se à restrição alimentar é a conscientização do indivíduo e seus familiares, em especial se for criança. A professora Jane alerta, porém, que entender a importância da dieta para sua saúde não é algo tão simples: “a alimentação está fortemente vinculada ao emocional, psicológico e cultural, que vai além da nutrição. Não imaginamos ir a uma festa de aniversário sem comer bolo, que tem lactose, ovo, trigo, açúcar…. O que exclui muitas pessoas dessa divisão do bolo”.

                Já a professora Elinete ressalta que o contexto alimentar não é muito favorável para quem tem alguma necessidade alimentar diferente. Explica que a dieta básica dos brasileiros é restrita, ou seja, 10 produtos concentram mais de 45% do consumo alimentar no país: arroz, feijão, pão francês, carne bovina, frango, banana, leite, refrigerantes, cervejas e açúcar (dados do IBGE). Ainda, os alimentos muito frequentes nas mesas brasileiras são trigo (farinha e outros), soja (alimentos processados), leite e derivados, alimentos de origem animal, açúcar e farinhas refinadas, sal em excesso e gorduras saturadas e/ou industrializadas. Dessa maneira, as práticas alimentares tendem a negar a diversidade alimentar dos indivíduos. 
            </p>
            <p>
                Carla Algeri e Giovana Perine | Jornalistas do IFSC. "Alergias e intolerâncias alimentares: saiba o que são" . Disponível em: https://www.ifsc.edu.br/post-ifsc-verifica/-/asset_publisher/uII70Nv266Xk/content/id/10481011/alergias-e-intoler%C3%A2ncias-alimentares-saiba-o-que-s%C3%A3o
            </p>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
                <img src="https://www.ifsc.edu.br/documents/1920563/8468643/verifica_depoimento_jane.jpg/489846e1-090f-47a7-b255-43936cc6d436?t=1653612133809" alt="Infográfico" class="tamanhoimg">
            </div>
        </div>
    </div>
</div>
