<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <app-perfil-lateral></app-perfil-lateral>
        </div>
        <div class="col-md-8">
  
            <div>
                <div class="form-group">
                    <label for="texto">Texto do comentário</label>
                    <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto" [(ngModel)]="comentario.comentario"></textarea>
                </div> 
                
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-outline-info w-25" (click)="salvar()">Salvar</button>
                </div>
            </div>
  
        </div>
  
    </div>
  </div>