<div class="parallax d-flex justify-content-center align-items-center">
    <div id="teste" style="border-radius: 10px; background-color: #ffffffe5;">
        <p class="ml-3 mr-3"
            style="font-size: 90px; color: #e46d0ca4; -webkit-text-stroke-width: 2px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
            <b>Sobre nós</b>
        </p>
    </div>
</div>
<div class="container" style="text-align: justify;">

    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <img src=" https://i.imgur.com/J2FCNhi.jpg" alt="Imagem Adriano" class="img rounded-circle">
        </div>
        <div class="col-md-9 d-flex align-items-center">            
            <div>
                <h4>Sofia Fernandes</h4>
                <p class="mt-3">
                    Sou do interior de São Paulo, extremamente grata pela tranquilidade que isso me proporciona diante do caos da cidade grande. Movida pela transformação que a tecnologia pode gerar, entrei neste mundo, e hoje sou graduada em Sistemas de Informação. Também tenho muito apreço pela busca de conhecimento constante, e por esse motivo, sempre me mantenho atualizada para poder transformar ainda mais processos e vidas através da tecnologia.  
                </p>
            </div>           
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-5" style="background-color: #99e08ba8">
    <div class="container">
        <h1 class="display-4 text-center">Missão e valores</h1>       
    </div>
  </div>

  <div class="container" style="text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: justify;">
      <div class="row">
          <div class="col-md-5 shadow p-3 mb-5 bg-white rounded">
            <h2 class="text-center">Missão</h2>    
            <p>
                Nossa plataforma é um ambiente online que oferece um fácil acesso a uma comunidade colaborativa dedicada a apoiar e enriquecer a experiência das pessoas em processo de adaptação alimentar. Aqui, você encontrará um fórum acolhedor onde pode compartilhar suas experiências e receber apoio emocional de pessoas que passaram ou estão passando pelos mesmos desafios de adaptação que você. Nossa comunidade é construída com base no compartilhamento de experiências autênticas e no desejo de ajudar uns aos outros a se adaptarem com sucesso a novos ambientes.
            </p>
          </div>

          <div class="col-md-2">                               
          </div>

          <div class="col-md-5 shadow p-3 mb-5 bg-white rounded">
            <h2 class="text-center">Valores</h2>    
            <p>
                - Respeito               
            </p>
            <p>
                - Empatia               
            </p>
            <p>
                - Acolhimento             
            </p>
            <p>
                - Equidade               
            </p>
            <p>
                - Diversidade               
            </p>
            <p>
                - Transparência              
            </p>
            
        </div>

      </div>
  </div>