<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="form-group mt-3 ml-3 mr-3">
        <label for="titulo">Comentário:</label>
        <input type="text" class="form-control" id="comentario" placeholder="Digite aqui o seu comentario"
            [(ngModel)]='comentario.comentario'>
        <p></p>
        <button type="button" class="btn btn-outline-info w-25" (click)="Publicar()">Publicar</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="card mt-5 mb-5 shadow p-3 bg-white rounded"
            *ngFor="let item of listaComentarios">
            <div class="card-header">
                <div class="row d-flex align-items-center">
                    <div class="col-md-8">
                        <small>
                            <p>Comentario: {{comentario.comentario}}</p>
                        </small>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">

                        <button class="mr-3 btn btn-outline-success" [routerLink]="['/editar-comentario', item.id]">
                            Editar
                        </button>

                        <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-comentario', item.id]">
                            Apagar
                        </button>
                        
                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text" aria-describedby="texto"> {{item.comentario}} </p>
                <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                    Postado em {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date:'HH:mm'}}</small>
            </div>
        </div>
    </div>
</div>