ul.social-network {
    list-style: none;
    display: inline;
  
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
  }
  
  .faGithub, .faInstagram{
      color: #070707;
  }

  .colorFooter {
    background-color: #f8e6b2;
  }
  
  .faGithub:hover{
    color: #8ee47dc0;
  }
    
  .faInstagram:hover{
    color: #8ee47dc0;
  }

  .corTexto{
    color: #171515;
  }
